.product_details {
  border-top: 1px solid $base-grey;
  padding: 2rem;
  margin-top: 1rem;

  .sub_products {
    width: 100%;
    max-width: 100%;

    .swiper_container {
      width: 100% !important;
      max-width: 100% !important;
      height: 400px !important;
    }

    .sub_product {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid $base-grey;
      box-shadow: $base-shadow-3;
      border-radius: 5px;
      padding: 1rem;

      .actions {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem;

        button {
          width: fit-content !important;
          height: fit-content !important;
          padding: 0.5rem !important;
          font-size: 0.8rem !important;
        }
      }

      .sub_images {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;

        img {
          width: 100%;
          max-width: 35px;
          height: 100%;
          max-height: 35px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid $base-info;
        }
      }

      .sub_info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        small {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;
          background-color: rgba($color: $base-blue, $alpha: 0.1);
          color: $base-dark;
          padding: 0.2rem 0.5rem;

          span {
            display: flex;
            align-items: center;
            gap: 0.1rem;
            font-weight: 600;

            svg {
              width: 0.9rem;
              height: 0.9rem;
            }
          }
        }
      }

      .sub_sizes {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba($color: $base-blue, $alpha: 0.1);

        small {
          text-align: center;
          text-transform: uppercase;
          color: $base-dark;
          padding: 0.2rem;
        }

        .sizes_wrapper {
          display: flex;
          justify-content: center;
          gap: 0.5rem;
          margin: 1rem 0;

          span {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.9rem;
            color: $base-dark;
            background-color: $base-grey;
            border: $base-blue 1px solid;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
