.form_input {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 45px;

  background: $base-white;
  border: 1px solid $base-grey;

  padding: 0.4rem 0.5rem;
  margin: 10px 0;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
  justify-items: center;

  margin-bottom: 1rem;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  &:focus-within {
    outline: 1px solid $base-info;
  }

  svg {
    width: 25px;
    height: 25px;
    stroke: $base-info;
    fill: $base-info;
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem 0.5rem;
    line-height: 1;
    font-weight: 500;
    font-size: 0.8rem;
    color: $base-dark-secondary;
    width: 100%;

    &:disabled {
      cursor: not-allowed;
    }

    &::placeholder {
      color: $base-grey;
      font-size: 0.8rem;
    }
  }
}

.wrapper_error {
  border: 1px solid $base-light-error;

  &:focus-within {
    outline: 1px solid $base-light-error;
  }

  svg {
    stroke: $base-light-error;
    fill: $base-light-error;
  }
}

.error_message {
  position: relative;
  max-width: 100%;
  width: 100%;
  background-color: $base-error;
  border-radius: 10px;
  padding: 0.7rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 700px) {
    max-width: 100%;
  }

  span {
    position: absolute;
    bottom: -10px;
    left: 1rem;
    border-top: 10px solid $base-error;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  p {
    color: $base-white !important;
    font-size: 0.85rem;
    font-weight: 500;
  }

  svg {
    width: 20px;
    height: 20px;
    stroke: $base-white !important;
    fill: $base-white !important;
  }
}
