.select {
  position: relative;
  max-width: 350px !important;
  width: 100% !important;

  background: $base-white !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  margin-bottom: 1rem !important;

  &:hover {
    cursor: pointer;
    outline: 1px solid $base-dark;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  svg {
    width: 25px;
    height: 25px;
    stroke: $base-info;
    fill: $base-info;
  }
}
