.image_input {
  margin: 2rem 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;

    .error_color {
      color: $base-error-secondary;
    }

    h2 {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0.5rem;

      @media (max-width: 480px) {
        font-size: 0.7rem;
      }
    }

    button {
      margin: 0 !important;
    }
  }

  .input_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .images_main {
    border: 1px solid rgba($color: $base-grey, $alpha: 1);
    padding: 1rem;
    width: 100%;
    height: 100%;

    .no_image {
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h4 {
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .grid {
      width: 100%;
      max-width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      place-items: center;
      padding: 0.5rem;

      .grid_wrapper {
        position: relative;
        margin-bottom: 1rem;
        height: fit-content;

        img {
          width: 100%;
          max-width: 250px;
          height: 100%;
          max-height: 250px;
          object-fit: cover;
          border-radius: 5px;
          border: 1px solid $base-grey;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }

          @media (max-width: 480px) {
            max-width: 100%;
            max-height: 100%;
          }
        }

        .image_actions {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          margin: 1rem 0;

          button {
            width: 30px !important;
            height: 30px !important;
            padding: 0.2rem !important;

            @media (max-width: 480px) {
              width: 50px !important;
              height: auto !important;
              padding: 0.5rem !important;
            }

            svg {
              width: 100%;
              height: 100%;
              max-width: 15px !important;
              max-height: 15px !important;
            }
          }
        }
      }
    }
  }
}
