.order__products {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
  }

  .product {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 200px;

    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
      max-height: 150px;
    }

    border-radius: 10px;
    border: 1px solid $base-dark-grey;
    box-shadow: $base-shadow-3;

    .product__image {
      width: 100%;
      max-width: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        border-radius: 10px 0 0 10px;
      }

      @media (max-width: 768px) {
        max-width: 150px;
      }
    }

    &__info {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }

      &__style {
        display: flex;
        flex-direction: column;

        p {
          font-size: 0.9rem;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 0.2rem;

          small {
            width: 10px;
            height: 10px;
          }

          span {
            width: 100%;
            font-weight: 400;
          }
        }
      }
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    .wrapper {
      width: 100%;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      border-top: 1px solid $base-dark-grey;
      border-bottom: 1px solid $base-dark-grey;

      .tax {
        color: $base-redish;

        p {
          font-weight: 600;
        }
      }

      .totals {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.2rem;
        p {
          font-weight: 600;
        }
      }
    }

    small {
      font-size: 0.8rem;
      color: $base-dark;
      font-weight: 600;

      span {
        color: $base-success;
        font-weight: 600;
      }
    }
  }
}
