.top {
  border-bottom: 1px solid #eee;

  @media (max-width: 800px) {
    background-color: $base-warning-secondary;
    border-bottom: none;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;

    @media (max-width: 825px) {
      justify-content: space-between;
    }
  }

  &__cart {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 0.5rem;

    @media (min-width: 800px) {
      display: none;
    }

    svg {
      width: 25px;
      height: 25px;
      fill: $base-dark;

      @media (max-width: 800px) {
        width: 20px;
        height: 20px;
      }
    }

    span {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      font-weight: 600;
      color: $base-white;
      background-color: $base-info-secondary;
      border-radius: 50%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;

    li,
    div,
    a {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.9rem;
      font-weight: 500;
      color: $base-dark;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      @media (max-width: 800px) {
        font-size: 0.7rem;
      }

      svg {
        font-size: 1rem;
      }

      &:hover {
        color: $base-violet;
      }

      span {
        display: flex;
        align-items: center;
        text-align: center;
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      img {
        width: 1.3rem;
        height: 1.3rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
