.offers {
  grid-area: offers;
  height: 220px;
  background-color: $base-white;
  border-radius: 5px;
  box-shadow: $base-shadow-1;

  overflow: hidden;
  background-image: url("../../../public/images/offers/offer1.png");
  background-size: cover;

  @media (max-width: 768px) {
    display: none;
  }
}
