.main_swiper {
  max-height: 300px;
  user-select: none;
  grid-area: main_swiper;
  background-color: $base-white;
  border-radius: 5px;
  box-shadow: $base-shadow-1;
  overflow: hidden;

  @media (max-width: 768px) {
    box-shadow: none;
  }

  &__container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
