.cart {
  user-select: none;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  hr {
    margin: 0.5rem 0.5rem 2rem 0.5rem;
    border-top: 1px solid $base-grey;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 0.5rem;
    }

    .left {
      width: 100%;
      max-width: 60%;
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      h2 {
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      @media (max-width: 900px) {
        max-width: 100%;

        h2 {
          margin: 0 auto;
        }
      }
    }

    .right {
      width: 100%;
      max-width: 40%;
      padding: 0 20px;

      @media (max-width: 900px) {
        max-width: 100%;
      }
    }
  }
}
