.checkout {
  user-select: none;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .checkout_left {
      width: 100%;
    }

    .checkout_right {
      width: 100%;
    }
  }
}
