.profile {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 1rem 0;
        text-transform: uppercase;

        h2 {
            font-weight: 600;
            font-size: 1rem;
        }
    }
}
