.signin {
  position: relative;
  min-height: fit-content;
  max-width: 1000px;
  overflow: hidden;
  user-select: none;
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__container {
    padding: 3rem;
  }
  &__form {
    margin-top: 1rem;

    @media (max-width: 768px) {
      text-align: center;
    }

    h1 {
      font-size: 45px;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 35px;
      }
    }
    p {
      color: $base-grey;
      font-size: 0.9rem;

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }

    form {
      width: 100%;
      max-width: 350px;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .forgot_password {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        max-width: 350px;

        a {
          color: $base-dark;
          font-size: 0.85rem;
          transition: all 0.1s ease-in-out;

          &:hover {
            color: $base-blue;
          }
        }
      }
    }
  }
}

.signin__header {
  user-select: none;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  text-align: center;
  margin-top: 2rem;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  .back__svg {
    width: 35px;
    height: 35px;
    border: 1px solid $base-grey;
    border-radius: 50%;

    transition: all 0.2s ease-in-out;

    display: grid;
    place-items: center;
    cursor: pointer;

    &:hover {
      background: $base-blue;
      border-color: transparent;
      svg {
        fill: $base-white;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      fill: $base-blue;
    }
  }
  span {
    font-weight: 600;
    font-size: 0.8rem;

    @media (max-width: 768px) {
      font-size: 0.7rem;
    }

    @media (max-width: 480px) {
      font-size: 0.6rem;
    }

    a {
      color: $base-blue;
      text-decoration: underline;
    }
  }
}

.signin__providers {
  user-select: none;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    position: relative;
    color: $base-grey;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
  }

  .provider_container {
    max-width: 350px;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.message_container {
  width: 100%;
  max-width: 350px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }

  .success {
    color: $base-success;
    border: 2px solid $base-success;
  }
  .error {
    color: $base-light-error;
    border: 2px solid $base-light-error;
  }
}
