.categories_dropdown {
    position: absolute;
    right: 0;
    background-color: $base-white;
    box-shadow: $base-shadow-3;
    z-index: 99;

    width: 100%;
    max-width: 19rem;
    max-height: 540px;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 0.5rem 0 0 0;

    @media (max-width: 800px) {
        width: 15rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;

        li {
            width: 100%;
            transition: all 0.3s linear;
            min-height: fit-content;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: $base-grey !important;
                color: $base-dark !important;
            }

            a {
                display: flex;
                justify-content: flex-start !important;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0.5rem;
                margin: 0;
                transition: all 0.3s linear;
                font-size: 0.8rem;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: $base-dark;
                    stroke: $base-dark;
                }
            }
        }
    }
}
