.product_swiper {
    position: relative;
    background-color: $base-white;

    img {
        display: block;
        box-shadow: $base-shadow-3 !important;
        border: 1px solid $base-grey !important;
        border-radius: 5px;
    }
}
