.main_section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 0.5rem;
  grid-template-areas:
    "home_menu header header"
    "home_menu main_swiper user"
    "home_menu offers user";

  .header {
    grid-area: header;
    height: 40px;
    background-color: $base-white;
    border-radius: 5px;
    box-shadow: $base-shadow-1;
  }

  .user {
    grid-area: user;
    height: 530px;
    background-color: $base-white;
    border-radius: 5px;
    box-shadow: $base-shadow-1;
  }
}
