// Mixins
@mixin button-styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: fit-content;
  height: fit-content;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  border-radius: 4px;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  color: #fff !important;
  text-transform: uppercase;
  padding: 0.5em 1.5rem;

  @media (max-width: 800px) {
    font-size: 0.7rem;
    margin: 0 auto;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    touch-action: none;
    box-shadow: none;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;
    margin: 0 auto;
  }

  svg {
    margin-right: 5px;
    margin-left: 5px;
    width: 1.2em;
    height: 1.2em;
    min-width: 1.2em;
    min-height: 1.2em;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }

  /* Remove the gradient background from here */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    -webkit-box-shadow: 9px 9px 33px $base-grey, -9px -9px 33px $base-dark-grey;
    box-shadow: 9px 9px 33px $base-grey, -9px -9px 33px $base-dark-grey;

    &:disabled {
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;

      svg {
        width: 1.2em;
        height: 1.2em;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }

    svg {
      width: 1.3em;
      height: 1.3em;
      -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      transform: translateX(-5px);
    }
  }

  &:active {
    transform: scale(0.98);
  }
}

@mixin button-background($bgColor, $hoverColor, $activeScale) {
  background-color: $bgColor;

  &:hover {
    background-color: $hoverColor;
    box-shadow: $base-shadow-3;

    &:disabled {
      background-color: $bgColor;
      box-shadow: none;
      transform: none;
    }
  }

  &:active {
    transform: scale($activeScale);

    &:disabled {
      transform: none;
    }
  }
}

// Buttons
.btnPrimary {
  @include button-styles;
  @include button-background($base-blue, #0055ff, 0.98);
}

.btnSecondary {
  @include button-styles;
  @include button-background(#373738, #464647, 0.98);
}

.btnTertiary {
  @include button-styles;
  @include button-background(#1cbd3f, #30d74f, 0.98);
}

.btnDanger {
  @include button-styles;
  @include button-background(#bd1c1c, #d92a2a, 0.98);
}

.btnGoogle {
  @include button-styles;
  @include button-background(#0702ff, #0904ff, 0.98);
}
