//Mixins
@mixin button-styles {
  width: 100%;
  max-width: 100%;
  height: 2.2rem;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.1s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 0 0.5rem;
  cursor: pointer;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    touch-action: none;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@mixin button-background($bgColor, $hoverColor, $activeScale) {
  background-color: $bgColor;

  &:hover {
    background-color: $hoverColor;
    box-shadow: $base-shadow-3;

    &:disabled {
      background-color: $bgColor;
      box-shadow: none;
    }
  }

  &:active {
    transform: scale($activeScale);

    &:disabled {
      transform: none;
    }
  }
}

//Buttons
.btnPrimary {
  @include button-styles;
  @if (get-color-type(#008cff) == "blue") {
    @include button-background(#008cff, lighten(#008cff, 10%), 0.95);
  } @else if (get-color-type(#008cff) == "green") {
    @include button-background(#008cff, lighten(#008cff, 15%), 0.95);
  } @else {
    @include button-background(#008cff, darken(#008cff, 10%), 0.95);
  }
}

.btnSecondary {
  @include button-styles;
  @if (get-color-type(#373738) == "blue") {
    @include button-background(#373738, lighten(#373738, 10%), 0.95);
  } @else if (get-color-type(#373738) == "green") {
    @include button-background(#373738, lighten(#373738, 15%), 0.95);
  } @else {
    @include button-background(#373738, darken(#373738, 10%), 0.95);
  }
}

.btnTertiary {
  @include button-styles;
  @if (get-color-type(#1cbd3f) == "blue") {
    @include button-background(#1cbd3f, lighten(#1cbd3f, 10%), 0.95);
  } @else if (get-color-type(#1cbd3f) == "green") {
    @include button-background(#1cbd3f, lighten(#1cbd3f, 15%), 0.95);
  } @else {
    @include button-background(#1cbd3f, darken(#1cbd3f, 10%), 0.95);
  }
}

.btnDanger {
  @include button-styles;
  @if (get-color-type(#bd1c1c) == "blue") {
    @include button-background(#bd1c1c, lighten(#bd1c1c, 10%), 0.95);
  } @else if (get-color-type(#bd1c1c) == "green") {
    @include button-background(#bd1c1c, lighten(#bd1c1c, 15%), 0.95);
  } @else {
    @include button-background(#bd1c1c, darken(#bd1c1c, 10%), 0.95);
  }
}

.btnGoogle {
  @include button-styles;
  background-color: #0702ff;
  background-image: linear-gradient(to bottom, #0702ff, lighten(#0702ff, 10%));
  border-radius: 20px;
  opacity: 0.95;

  &:hover {
    background-image: linear-gradient(to bottom, #0702ff, lighten(#0702ff, 5%));
  }

  &:active {
    background-image: linear-gradient(to bottom, #0702ff, darken(#0702ff, 10%));
  }
}
