.select {
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;

  h2 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  .select__header {
    min-width: 80px;
    max-width: 170px;
    min-height: 40px;
    border: 1px solid $base-grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem 0 0.5rem;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      border: 1px solid $base-dark;
    }

    &:active {
      border: 1px solid $base-dark;
      color: $base-white;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-transform: uppercase;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 1rem;
        svg {
          display: none;
        }
      }
      @media (max-width: 480px) {
        font-size: 0.7rem;
      }
    }
  }

  .select__menu {
    position: absolute;
    top: 102%;
    width: 173px;
    background: $base-white;
    padding: 1rem 0 0 0;
    border-radius: 5px;
    box-shadow: $base-shadow-2;
    z-index: 5;

    li {
      width: 100%;
      max-width: 173px;
      height: 50px;
      display: grid;
      place-items: center;
      text-transform: uppercase;

      &:hover {
        background: $base-grey;
        cursor: pointer;
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
