.user_panel {
  grid-area: user_panel;
  height: 530px;
  background-color: $base-white;
  border-radius: 5px;
  box-shadow: $base-shadow-1;

  &__container {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
      margin-bottom: 1rem;
      border: 2px solid $base-warning-secondary;
      box-shadow: $base-shadow-3;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      color: $base-dark;
    }

    small {
      font-size: 0.7rem;
      font-weight: 600;
      color: $base-dark;
    }

    &__ctas {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        color: $base-dark;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        margin-bottom: 0.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $base-grey;
        }

        svg {
          color: $base-warning-secondary;
        }
      }
    }
  }

  &__swiper {
    max-width: 180px;
    height: fit-content;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      color: $base-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      svg {
        color: $base-warning-secondary;
      }
    }
  }
}
