.checkout_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;

  hr {
    width: 100%;
    max-width: 1000px;
    margin: 0.5rem auto;
  }

  .header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    h2 {
      text-transform: uppercase;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    small {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 600;

      a {
        color: $base-info;
        text-decoration: underline;
      }
    }
  }

  .items {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .item {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: fit-content;
      max-width: 100%;
      background: $base-white;
      border: 1px solid $base-grey;
      border-radius: 11px;
      box-shadow: $base-shadow-3;

      .item_image {
        width: 100%;
        max-width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 10px;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 10px 0 0 10px;
        }
      }

      .item_details {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 0.9rem;
          margin-bottom: 0.5rem;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: underline;
          width: 100%;
          white-space: pre-line;

          @media (max-width: 400px) {
            font-size: 0.9rem;
          }
        }

        p {
          font-size: 0.8rem;
          font-weight: 600;
          text-transform: uppercase;
          color: $base-dark;

          span {
            font-weight: 700;
          }

          @media (max-width: 400px) {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
