.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  position: relative;

  .add_address {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-transform: uppercase;
  }

  .shipping_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    .btn_header {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      button {
        width: 2rem;
        height: 1.5rem;
        svg {
          width: 0.7rem;
          height: 0.7rem;
        }
      }
      h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
      }
    }

    small {
      font-size: 0.9rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .forms {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;

    position: absolute;
    top: 5rem;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    z-index: 5;
    background: rgba($color: $base-grey, $alpha: 0.8);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid $base-dark-grey;

    form {
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (max-width: 800px) {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }

      button {
        margin: 0 auto;
      }
      p {
        margin: 0 auto;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-weight: 600;
      }

      hr {
        margin: 1rem 0;
      }
    }
  }

  .addresses {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem;

    .address {
      width: 100%;
      max-width: 200px;
      min-width: fit-content;
      min-height: 180px;
      max-height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      background: $base-white;
      border: 1px solid $base-grey;
      border-radius: 10px;
      padding: 1rem;

      &:hover {
        border: 1px solid $base-dark-grey;
        box-shadow: $base-shadow-1;
      }

      &.selected {
        border: 1px solid $base-success;
        background: rgba($color: $base-green, $alpha: 0.2);
        scale: 1.05;

        @media (max-width: 800px) {
          scale: none;
        }
      }

      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .img {
          width: 100%;
          max-width: 100px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .ctas {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          width: 100%;

          @media (max-width: 800px) {
            max-width: 100%;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
          }

          small {
            text-transform: uppercase;
            font-weight: 600;
            cursor: default;
            color: $base-success;
            text-align: center;
          }

          .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            margin-bottom: 1rem;
            width: 100%;
          }
        }
      }

      .right {
        .row {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          hr {
            margin: 0;
            border-color: $base-success-secondary;
          }

          p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.9rem;
            text-transform: uppercase;

            @media (max-width: 800px) {
              max-width: 100%;
              width: 100%;
              font-size: 1rem;
            }

            @media (max-width: 480px) {
              max-width: 100%;
              width: 100%;
              font-size: 0.8rem;
            }

            svg {
              min-width: 0.9rem;
              min-height: 0.9rem;
              fill: $base-dark-secondary;
            }
          }
        }
      }
    }
  }
}
