.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border: 1px solid $base-grey;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;

  small {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  hr {
    margin: 1rem 0;
  }
}
