.product {
  width: 100%;
  max-width: 100%;
  border: 1px solid $base-grey;
  border-radius: 5px;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  .title {
    text-transform: uppercase;
    font-weight: 500;
    color: $base-dark;
    background-color: rgba($color: $base-blue, $alpha: 0.2);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $base-blue 1px solid;

    h3 {
      font-size: 1rem;
      font-weight: 600;
      flex: 1;

      @media (max-width: 480px) {
        font-size: 0.8rem;
      }
    }

    button {
      flex: 1;
      width: fit-content !important;
      height: fit-content !important;
      padding: 0.5rem !important;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;

    small {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      background-color: rgba($color: $base-blue, $alpha: 0.1);
      padding: 0.2rem;
      font-weight: 600;

      span {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        font-weight: 600;
        color: $base-dark;

        svg {
          width: 0.9rem;
          height: 0.9rem;
          fill: gold;
        }
      }
    }
  }

  .summary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;

    font-size: 0.7rem;
    font-weight: 600;
    font-style: italic;

    color: $base-dark;

    margin: auto auto;
    padding: 0.5rem;
  }
}
