.cart_item {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  max-height: 500px;

  background: $base-white;
  border: 1px solid $base-grey;
  border-radius: 5px;
  box-shadow: $base-shadow-2;
  transition: all 0.2s ease-in-out;

  svg {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
    }
  }

  hr {
    margin: 0.2rem 0.7rem;
    border-top: 1px solid $base-grey;
  }

  &:hover {
    box-shadow: $base-shadow-3;
  }

  .images {
    margin-top: 1rem;
    max-width: fit-content;
    height: 150px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 100%;
      max-width: 100px;
      height: 100%;
      object-fit: cover;
    }
  }

  .details_1 {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }

    hr {
      margin: 0.2rem 0;
      border-top: 1px solid $base-grey;
    }

    p {
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }

    small {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      span {
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }

      small {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }

  .details_2 {
    padding: 0.5rem 1rem;

    hr {
      margin: 0.2rem 0.7rem;
      border-top: 1px solid $base-grey;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;

      small {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-decoration: line-through;
        color: $base-redish;
      }

      p {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }
  }
}
