.cart_item {
  position: relative;
  width: 100%;
  height: fit-content;
  max-height: 500px;

  background: $base-white;
  border: 1px solid $base-grey;
  border-radius: 5px;
  box-shadow: $base-shadow-2;
  transition: all 0.2s ease-in-out;

  hr {
    margin: 0.2rem 0.7rem;
    border-top: 1px solid $base-grey;
  }

  &:hover {
    box-shadow: $base-shadow-3;
  }

  .images {
    margin-top: 1rem;
    max-width: fit-content;
    height: 150px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 100%;
      max-width: 100px;
      height: 100%;
      object-fit: cover;
      border: 1px solid $base-grey;
      border-radius: 5px;
    }
  }

  .details_1 {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;

    .wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }

      .left {
        display: flex;
        gap: 1rem;
        align-items: center;

        .remove {
          position: absolute;
          top: 0.5rem;
          right: 0;

          @media (max-width: 768px) {
            top: 3rem;
          }
        }

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
        }

        h3 {
          text-align: center;
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 600;
          margin: 0;
          padding: 0;
        }

        .divider {
          width: 1px;
          height: 20px;
          background: $base-grey;

          @media (max-width: 768px) {
            display: none;
          }
        }

        p {
          text-transform: uppercase;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
          margin: 0;
          padding: 0;
        }
      }
      small {
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $base-redish;
        }
      }
    }

    hr {
      margin: 0.2rem 0;
      border-top: 1px solid $base-grey;
    }

    small {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      span {
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }

      small {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }

  .details_2 {
    padding: 0.5rem 1rem;

    hr {
      margin: 0.2rem 0.7rem;
      border-top: 1px solid $base-grey;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;

      small {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-decoration: line-through;
        color: $base-redish;
      }

      p {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }
  }
}
