$base-blue: #2f82ff;
$base-dark-blue: #1a28f1dc;
$base-yellow: #fac80f;
$base-violet: #5a31f4;
$base-green: #3c811f;
$base-redish: #f15f6f;
$base-grey: #f8f8f8;
$base-light-error: #fd010169;
$base-error: #ed4337;
$base-error-secondary: #f02f2fd8;
$base-success: #6cc070;
$base-shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$base-shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0px;
$base-cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
