* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $base-grey;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 100vh;
  padding-top: 1rem;
  margin: 0 0 5rem 0;
}

p,
a,
::placeholder,
small,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button,
input,
textarea,
select,
option,
label,
.MuiButtonBase-root,
.MuiSelect-select {
  text-transform: uppercase !important;
  transition: all 0.5s ease-in-out;
}

.MuiFormLabel-root {
  font-family: "Rajdhani", sans-serif !important;
  font-weight: 500 !important;
  font-size: 0.8rem !important;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $base-dark;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid $base-grey;
}

.vertical-line {
  margin: auto 0;
  margin-top: 12rem;
  border-left: 2px solid #eeee; /* or border-right */
  height: 300px; /* Adjust the height as needed */

  display: none; /* Hide on mobile devices */

  @media (min-width: 768px) {
    display: block; /* Show on desktop */
  }
}

.Toastify__toast {
  border-radius: 5px !important;
  font-family: "Mulish", sans-serif !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  transition: all 0.5s ease-in-out !important;
  white-space: pre-line !important;
  padding: 0.5rem 1rem !important;

  &:hover {
    transform: scale(0.95) !important;
  }
}
