.dropdown {
    position: relative;
    z-index: 2;

    &__svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba($color: $base-dark-grey, $alpha: 0.2);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgba($color: $base-dark-grey, $alpha: 0.4);
        }

        svg {
            width: 25px;
            height: 25px;
            fill: $base-blue;
        }
    }

    &__content {
        position: absolute;
        top: calc(100% + 5px);
        right: -10px;
        width: max-content;
        max-width: 400px;
        background-color: #fff;
        box-shadow: $base-shadow-1;
        border-radius: 10px;
        overflow: hidden;
        transform: scale(0);
        transform-origin: top right;
        transition: transform 0.3s ease 0s;
        max-height: 80vh;
        overflow-y: auto;

        @media (max-width: 480px) {
            max-width: 320px;
        }

        @media (max-width: 380px) {
            max-width: 280px;
        }

        &_notifications {
            padding: 10px;

            &_notification {
                width: 100%;
                max-width: 100%;
                padding: 5px;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                font-size: 14px;
                color: #333;
                text-align: start;
                border-bottom: 1px solid $base-grey;
                margin-bottom: 0.5rem;
                letter-spacing: -0.5px;

                &:hover {
                    background: $base-blue;
                    color: #fff;
                }

                span {
                    font-weight: 600;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        &_footer {
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            text-decoration: underline;
            color: $base-blue;
            cursor: pointer;

            &:hover {
                color: $base-blue;
            }
        }
    }
}

.active {
    transform: scale(1);
    transition: transform 0.5s $base-cubic-bezier;
}
